{% macro placard(user) %}
<div class="user-placard">
    <div class="row">
        <div class="span1">
            <img src="{{ gravatar(user.email) }}" />
        </div>
        <div class="span5">
            <div class="row">
                {{ user.username }}
            </div>
            <div class="row">
                Stats: <a href="#" data-placement="below" rel="twipsy" title="Tutorials Written">{{ user.tutorialcount }}</a> | <a href="#" data-placement="below" rel="twipsy" title="Questions Asked">{{ user.questioncount }}</a> | <a href="#" data-placement="below" rel="twipsy" title="Questions Answered">{{ user.answercount }}</a>
            </div>
        </div>
    </div>
</div>
{% endmacro %}