{% extends "ProtonFrontendBundle::layout.html.twig" %}

{% block content %}
<a href="https://github.com/Symfony2Pros/symfony2pros.com"><img style="z-index:9999;position: absolute; top: 0px; right: 22px; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/71eeaab9d563c2b3c590319b398dd35683265e85/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub"></a>
<div class="hero-unit">
  <h1>Symfony2 Q&amp;A and tutorials?<br />We got that.</h1>
  <p>The unofficial community for user-contributed and moderated questions, answers and how-to tutorials for <a href="http://symfony.com/">Symfony2</a></p>
  <p>
      <a class="btn primary large" href="{{ path('proton_tutorial_tutorials_new') }}">Write a tutorial &raquo;</a>
      <a class="btn primary large" href="{{ path('proton_qna_questions_new') }}">Ask a question &raquo;</a>
  </p>
{% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
  <p>
      <a href="{{ path('fos_user_registration_register') }}">Create an Account</a>
      or <a href="{{ path('fos_user_security_login') }}">Login Now</a>
{% endif %}
  </p>
</div>

<div class="row">
    <div class="span16">
        <h1>Recent Tutorials <small>(<a href="{{ path('proton_tutorial_tutorials_list') }}">view more</a>)</small></h1>
    </div>
</div>
<div class="row">
{% for tutorial in tutorials %}
    <div class="span8">
        <h2><a href="{{ path('proton_tutorial_tutorials_show', {"slug":tutorial.slug}) }}">{{ tutorial.title }}</a> <small>by {{ tutorial.authorname }}</small></h2>
        <p>{{ tutorial.description|truncate(50) }}</p>
    </div>
{% endfor %}
</div>

<hr />

<div class="row">
    <div class="span16">
        <h1>Recent Questions <small>(<a href="{{ path('proton_qna_questions_list') }}">view more</a>)</small></h1>
    </div>
</div>
<div class="row">
{% for question in questions %}
    <div class="span8">
        <h2><a href="{{ path('proton_qna_questions_show', {"slug":question.slug}) }}">{{ question.title }}</a> <small>by {{ question.author.username }}</small></h2>
        {% set count = question.answercount %}
        <p>{% transchoice count %}
    {0} 0 answers|{1} 1 answer|]1,Inf] %count% answers
{% endtranschoice %}</p>
    </div>
{% endfor %}
</div>

{% endblock content %}