<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Welcome!{% endblock %} :: Symfony2Pros</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png') }}">
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>
    <link rel="stylesheet" href="{{ asset('css/prettify.css') }}">
{% block stylesheets %}
{% endblock %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-20048133-6']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>

  <body>

    <div class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">
          <a class="brand" href="{{ path('proton_homepage') }}">Symfony2Pros</a>
          <ul class="nav">
            <li class="active"><a href="{{ path('proton_homepage') }}">Home</a></li>
            <li><a href="{{ path('proton_tutorial_tutorials_list') }}">Tutorials</a></li>
            <li><a href="{{ path('proton_qna_questions_list') }}">Q&amp;A</a></li>
          </ul>
{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
          <p class="pull-right">Logged in as <a href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}</a></p>
{% else %}
          <form class="pull-right" action="{{ path('fos_user_security_check') }}" method="post">
            <input class="span4" placeholder="username" type="text" id="username" name="_username" value="" />
            <input class="span4" placeholder="password" type="password" id="password" name="_password" />
            <input type="hidden" name="_target_path" value="{{ app.request.pathinfo }}" />
            <input type="submit" id="_submit" name="_submit" value="Login" />
          </form>
{% endif %}
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="sidebar">
        <div class="well">
          <h5>Main</h5>
          <ul>
            <li><a href="{{ path('proton_homepage') }}">Home</a></li>
{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <li><a href="{{ path('fos_user_profile_show') }}">Your Profile</a></li>
            <li><a href="{{ path('fos_user_security_logout') }}">Log Out</a></li>
{% else %}
            <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
            <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
{% endif %}
          </ul>
{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
          <h5>Tutorial Drafts</h5>
          <ul>
              <li><a href="{{ path('proton_tutorial_drafts_list') }}">Your Drafts</a></li>
              <li><a href="{{ path('proton_tutorial_drafts_new') }}">Compose</a></li>
          </ul>
{% endif %}
          <h5>Tutorials</h5>
          <ul>
            <li><a href="{{ path('proton_tutorial_tutorials_list') }}">Read</a></li>
            <li><a href="{{ path('proton_tutorial_tutorials_new') }}">Write</a></li>
            <li><a href="{{ path('proton_tutorial_tutorials_feed') }}">RSS</a></li>
          </ul>
          <h5>Q&amp;A</h5>
          <ul>
            <li><a href="{{ path('proton_qna_questions_list') }}">Answer</a></li>
            <li><a href="{{ path('proton_qna_questions_new') }}">Ask</a></li>
          </ul>

            <script type="text/javascript"><!--
                google_ad_client = "ca-pub-3794039837244922";
                /* Symfony2Pros */
                google_ad_slot = "2080249479";
                google_ad_width = 160;
                google_ad_height = 600;
                //-->
            </script>
            <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
        </div>
      </div>
      <div class="content">
{% if app.session.hasFlash('notice') %}
          <div class="alert-message success fade in" data-alert="alert">
              <a class="close" href="#">x</a>
              <p>{{ app.session.flash('notice') }}</p>
          </div>
{% endif %}
{% block content %}{% endblock content %}
        <footer>
{% block footer %}
          <p>
              Site &copy; 2011 DNC Webworks; user contributions licensed under <a href="http://creativecommons.org/licenses/by-sa/3.0/"><img src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a><br />
              Lovingly crafted with HTML5+CSS3 using <a href="http://twitter.github.com/bootstrap">twitter bootstrap</a>
          </p>
{% endblock footer %}
        </footer>
      </div>
    </div>

    <script type="text/javascript" src="{{ asset('js/prettify.js') }}"></script>
    <script>$(function () { prettyPrint() })</script>
    <script type="text/javascript" src="{{ asset('js/bootstrap/bootstrap-twipsy.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap/bootstrap-modal.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap/bootstrap-alerts.js') }}"></script>
    <script>
        $(function () {
            $("a[rel=twipsy]").twipsy({
                live: true
            })
        })
    </script>
{% block javascripts %}
{% endblock %}
  </body>
</html>
