{% extends "ProtonTutorialBundle::layout.html.twig" %}

{% block title %}Tutorial - {{ tutorial.title }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/comments.css') }}">
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/comments.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery/jquery.form.js') }}"></script>
{% endblock %}

{% block content %}
<div id="tutorial-meta" class="well">
    <h1>{{ tutorial.title }}</h1>
    <p>posted by {{ tutorial.author.username }} on {{ tutorial.createdat.format('d-M-Y') }}</p>
    <p><strong>Description:</strong> {{ tutorial.description }}</p>
</div>
<p>{{ tutorial.content|markdown }}</p>

<hr />

{% render "FOSCommentBundle:Thread:showFlat" with {"id": tutorial.slug, "sorter": "date_desc"} %}
{% endblock %}