{% extends "ProtonTutorialBundle::layout.html.twig" %}

{% block title %}Tutorial - {{ tutorial.title }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/comments.css') }}">
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/comments.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery/jquery.form.js') }}"></script>
{% endblock %}

{% from "ProtonCoreBundle::macros.html.twig" import time_formatter %}

{% block content %}
<div id="tutorial-meta" class="well">
    <h1>{{ tutorial.title }}</h1>
{% if tutorial.author is not null %}
    {% render 'ProtonUserBundle:User:placard' with {"user": tutorial.author} %}
{% else %}
    {% render 'ProtonUserBundle:User:anonPlacard' with {"username": tutorial.authorname, "email": tutorial.authoremail} %}
{% endif %}
    <p>{{ time_formatter(tutorial.createdat) }}</p>
    <p><strong>Description:</strong> {{ tutorial.description }}</p>
{#
    {% render 'ProtonTagBundle:Tag:display' with {"entity": tutorial} %}
#}
    {% set views = tutorial.views %}
    <p>{% transchoice views %}
        {0} 0 views|{1} 1 view|]1,Inf] %views% views
    {% endtranschoice %}</p>
    <p>
{% if canEdit %}
        <a class="btn" href="{{ path('proton_tutorial_tutorials_edit', {'id': tutorial.id}) }}">Edit</a>
{% endif %}
{% if is_granted('ROLE_ADMIN') %}
        <a class="btn danger" href="{{ path('proton_tutorial_tutorials_delete', {'id': tutorial.id}) }}">Trash</a>
{% endif %}
    </p>
</div>
<p>{{ tutorial.content|markdown }}</p>

<hr />

<h2 id="comments">Comments</h2>
{% render "FOSCommentBundle:Thread:showFlat" with {"id": tutorial.slug, "sorter": "date_desc"} %}
{% endblock %}